
<div class="yourQuestion">
  <p><%= @question %></p>
  <p>- YOU</p>
</div>

<div class="yourAnswer">
  <p><%= @output %></p>
  <p>- YOUR COACH</p>
</div>

<%= link_to "Ask a new question", ask_path %>
